select 
	z.[Mon YYYY]
	,z.PolicyNumber
	,z.MasterContract
	,z.[Policy Type]
	,z.[Policy Type Description]
from (
SELECT distinct
SUBSTRING(CONVERT(VARCHAR(11), p.[RecordEffectiveStartDate], 113), 4, 8) AS [Mon YYYY]
--,k.[FirstName]
--      ,k.[Surname]
--      ,k.[Title]
--      ,k.[Initials]
	  --,[RecordEffectiveStartDate1]
   --   ,[RecordEffectiveEndDate1]
      --,[Gender]
      ,k.[PolicyNumber]
	  ,pol.[MasterContract] 	        
   --   ,[From PercentIncrease]
	  --,[To PercentIncrease]
	  	,[ProductCode] [Policy Type]
    ,[EnglishProductCodeDescription] [Policy Type Description]
      --,[Province]
      --,[FaxNumber]
      --,[InsertAuditkey]      
      --,p.[RecordEffectiveEndDate]
      --,[IsActiveRecord]      
      --,[Language]
      --,[DateOfBirth]
      --,[IDNumber]
      --,[Sex]
      --,[PolicyOwner]
FROM (
SELECT distinct
--pol1.[PolicyMainMemberKey]
--s.[FirstName]
--      ,s.[Surname]
      --,s.[DateOfBirth]
      --,s.[DateOfCommencement]
      --,s.[Title]
      --,s.[Initials]
      --,s.[Nationality]
      --,s.[Gender]
      --,s.[IDNumber]
      --,s.[PassportNumber]
      --,s.[PassportExpiryDate]
      --,pol1.[InsertAuditkey]
      --,pol1.[RecordEffectiveStartDate] [RecordEffectiveStartDate1]
      --,pol1.[RecordEffectiveEndDate] [RecordEffectiveEndDate1]
      --,pol1.[IsActiveRecord]
      --,pol1.[IsDeleted]
      --,pol1.[RecordUser]
      --,pol1.[TriggerAction]
      pol1.[PolicyNumber]
      --,pol1.[Title]
      --,pol1.[Initials]
      --,pol1.[FirstName]
      --,pol1.[LastName]
      --,pol1.[Language]
      --,pol1.[DateOfBirth]
      --,pol1.[HomePhoneCode]
      --,pol1.[HomePhoneNo]
      --,pol1.[WorkPhoneCode]
      --,pol1.[WorkPhoneNo]
      --,pol1.[PostAddressLine1]
      --,pol1.[PostAddressLine2]
      --,pol1.[PostAddressLine3]
      --,pol1.[PostAddressLine4]
      --,pol1.[JobTitle]
      --,pol1.[AlternatePhoneNo]
      --,pol1.[IDNumber]
      --,pol1.[PassportNumber]
      --,pol1.[PassportExpiryDate]
      --,pol1.[Sex]
      --,pol1.[CellNo]
      --,pol1.[ResAddressLine1]
      --,pol1.[ResAddressLine2]
      --,pol1.[ResAddressLine3]
      --,pol1.[ResAddressLine4]
      --,pol1.[Province]
      --,pol1.[FaxNumber]
      --,pol1.[FaxCode]
      --,pol1.[Region]
      --,pol1.[CaptureAgeNext]
      --,pol1.[IsGovEmployee]
      --,pol1.[EmailAddress]
      --,pol1.[PolicyOwner]
      --,pol1.[AlternateEmail1]
      --,pol1.[AlternateEmail2]
      --,pol1.[AlternateEmail3]
      --,pol1.[DoctorName]
      --,pol1.[DoctorPhoneNo]
      --,pol1.[Salary]
      --,pol1.[SalaryDateChanged]
      --,pol1.[Occupation]
      --,pol1.[OccupationDateChanged]
      --,pol1.[OccupationClass]
      --,pol1.[Education]
      --,pol1.[EducationDateChanged]
      --,pol1.[DoctorAddressLine1]
      --,pol1.[DoctorAddressLine2]
      --,pol1.[DoctorAddressLine3]
      --,pol1.[DoctorAddressLine4]
      --,pol1.[HIVStatus]
      --,pol1.[HIVStatusDateChanged]
	  --,pol2.[PolicyMainMemberKey]
      --,pol2.[InsertAuditkey]
      --,pol2.[RecordEffectiveStartDate]
      --,pol2.[RecordEffectiveEndDate]
      --,pol2.[IsActiveRecord]
      --,pol2.[IsDeleted]
      --,pol2.[RecordUser]
      --,pol2.[TriggerAction]
      --,pol2.[PolicyNumber]
      --,pol2.[Title]
      --,pol2.[Initials]
      --,pol2.[FirstName]
      --,pol2.[LastName]
      --,pol2.[Language]
      --,pol2.[DateOfBirth]
      --,pol2.[HomePhoneCode]
      --,pol2.[HomePhoneNo]
      --,pol2.[WorkPhoneCode]
      --,pol2.[WorkPhoneNo]
      --,pol2.[PostAddressLine1]
      --,pol2.[PostAddressLine2]
      --,pol2.[PostAddressLine3]
      --,pol2.[PostAddressLine4]
      --,pol2.[JobTitle]
      --,pol2.[AlternatePhoneNo]
      --,pol2.[IDNumber]
      --,pol2.[PassportNumber]
      --,pol2.[PassportExpiryDate]
      --,pol2.[Sex]
      --,pol2.[CellNo]
      --,pol2.[ResAddressLine1]
      --,pol2.[ResAddressLine2]
      --,pol2.[ResAddressLine3]
      --,pol2.[ResAddressLine4]
      --,pol2.[Province]
      --,pol2.[FaxNumber]
      --,pol2.[FaxCode]
      --,pol2.[Region]
      --,pol2.[CaptureAgeNext]
      --,pol2.[IsGovEmployee]
      --,pol2.[EmailAddress]
      --,pol2.[PolicyOwner]
      --,pol2.[AlternateEmail1]
      --,pol2.[AlternateEmail2]
      --,pol2.[AlternateEmail3]
      --,pol2.[DoctorName]
      --,pol2.[DoctorPhoneNo]
      --,pol2.[Salary]
      --,pol2.[SalaryDateChanged]
      --,pol2.[Occupation]
      --,pol2.[OccupationDateChanged]
      --,pol2.[OccupationClass]
      --,pol2.[Education]
      --,pol2.[EducationDateChanged]
      --,pol2.[DoctorAddressLine1]
      --,pol2.[DoctorAddressLine2]
      --,pol2.[DoctorAddressLine3]
      --,pol2.[DoctorAddressLine4]
      --,pol2.[HIVStatus]
      --,pol2.[HIVStatusDateChanged]
  FROM [CG_P_DB_DATEDW].[DIM].[POLICYMAINMEMBER] pol1
  inner join [CG_P_DB_DATEDW].[DIM].[POLICYMAINMEMBER] pol2
  on pol1.PolicyNumber =pol2.PolicyNumber
  and pol1.IsActiveRecord != pol2.IsActiveRecord
  and pol1.IDNumber != pol2.IDNumber  
  and pol1.FirstName != pol2.FirstName  
  and pol1.DateOfBirth != pol2.DateOfBirth 
  inner join [CG_P_DB_DATEDW].[DIM].[SPOUSE] s
  on s.PolicyNumber = pol1.PolicyNumber
  and s.DateOfBirth != pol1.DateOfBirth 
  --where pol1.PolicyNumber='405323312'
  --order by pol1.PolicyNumber
  )k
  inner join [CG_P_DB_DATEDW].[DIM].[POLICYMAINMEMBER] p
  on p.PolicyNumber = k.PolicyNumber
   inner join [CG_P_DB_DATEDW].[DIM].[POLICY] pol
  on pol.PolicyNumber = p.PolicyNumber
  and pol.[IsActiveRecord] = 1
    INNER JOIN [CG_P_DB_DATEDW].[DIM].[PRODUCT] Pr
  ON pr.ProductKey = pol.ProductKey
  where p.[IsActiveRecord] = 1
  --a
  --and p.[InsertAuditkey] = k.[InsertAuditkey]
  --order by p.PolicyNumber

  --(1673 row(s) affected)
  )z
  order by z.PolicyNumber